pipeline/CopyLeap_Staging-To-DB_CCROnly.json
{
	"name": "CopyLeap_Staging-To-DB_CCROnly",
	"properties": {
		"description": "Copy file data from Staging to DB",
		"activities": [
			{
				"name": "GetFileList",
				"description": "Get the list of file",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "LeapStorageSourceDataset",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"lastModified",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEachFile",
				"description": "Iterate each file, and move them one by one.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FilterFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterFiles').output.value",
						"type": "Expression"
					},
					"batchCount": 20,
					"activities": [
						{
							"name": "SpFileEntry",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[SpFileEntry]",
								"storedProcedureParameters": {
									"Filename": {
										"value": {
											"value": "@item().name",
											"type": "Expression"
										},
										"type": "String"
									},
									"FileType": {
										"value": "1",
										"type": "Byte"
									},
									"LastModifiedDatetime": {
										"value": {
											"value": "@activity('GetFileList').output.lastModified",
											"type": "Expression"
										},
										"type": "DateTime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "TASDatabase",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "CCCR_Could1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "SpFileEntry",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(startswith(item().name,'CCCR_cloud01_'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "CCCR_Cloud1",
										"description": "Copy a file from the source store to the destination store.",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "Filename",
														"value": {
															"value": "@item().name",
															"type": "Expression"
														}
													},
													{
														"name": "LastModifiedDatetime",
														"value": {
															"value": "@activity('GetFileList').output.lastModified",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"wildcardFileName": "CCCR_cloud01_*",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												},
												"recursive": false
											},
											"sink": {
												"type": "AzureSqlSink",
												"disableMetricsCollection": false,
												"writeBehavior": "insert"
											},
											"enableStaging": false,
											"dataIntegrationUnits": 2,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "branch_code",
															"type": "String"
														},
														"sink": {
															"name": "branch_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "branch_location",
															"type": "String"
														},
														"sink": {
															"name": "branch_location",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dse_code",
															"type": "String"
														},
														"sink": {
															"name": "dse_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dse_name",
															"type": "String"
														},
														"sink": {
															"name": "dse_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "date",
															"type": "String"
														},
														"sink": {
															"name": "date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "route_name",
															"type": "String"
														},
														"sink": {
															"name": "route_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_code",
															"type": "String"
														},
														"sink": {
															"name": "retailer_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_name",
															"type": "String"
														},
														"sink": {
															"name": "retailer_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "contact_number_1",
															"type": "String"
														},
														"sink": {
															"name": "contact_number_1",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "contact_number_2",
															"type": "String"
														},
														"sink": {
															"name": "contact_number_2",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "channel_name",
															"type": "String"
														},
														"sink": {
															"name": "channel_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "sub_channel_name",
															"type": "String"
														},
														"sink": {
															"name": "sub_channel_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "start_time",
															"type": "String"
														},
														"sink": {
															"name": "start_time",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "end_time",
															"type": "String"
														},
														"sink": {
															"name": "end_time",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "intime",
															"type": "String"
														},
														"sink": {
															"name": "intime",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "order_value",
															"type": "String"
														},
														"sink": {
															"name": "order_value",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "productivity",
															"type": "String"
														},
														"sink": {
															"name": "productivity",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "reason",
															"type": "String"
														},
														"sink": {
															"name": "reason",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "visit_latitude",
															"type": "String"
														},
														"sink": {
															"name": "visit_latitude",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "visit_longitude",
															"type": "String"
														},
														"sink": {
															"name": "visit_longitude",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "deviation_in_meter",
															"type": "String"
														},
														"sink": {
															"name": "deviation_in_meter",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "deviation",
															"type": "String"
														},
														"sink": {
															"name": "deviation",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "reason_for_deviation",
															"type": "String"
														},
														"sink": {
															"name": "reason_for_deviation",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "on_route",
															"type": "String"
														},
														"sink": {
															"name": "on_route",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "remarks",
															"type": "String"
														},
														"sink": {
															"name": "remarks",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Filename",
															"type": "String"
														},
														"sink": {
															"name": "Filename",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "LastModifiedDatetime",
															"type": "String"
														},
														"sink": {
															"name": "LastModifiedDatetime",
															"type": "DateTime"
														}
													},
													{
														"source": {
															"name": "distance_travelled",
															"type": "String"
														},
														"sink": {
															"name": "distance_travelled",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "visit_p1m_ach",
															"type": "String"
														},
														"sink": {
															"name": "visit_p1m_ach",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "visit_p3m_ach",
															"type": "String"
														},
														"sink": {
															"name": "visit_p3m_ach",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "visit_fb_ach",
															"type": "String"
														},
														"sink": {
															"name": "visit_fb_ach",
															"type": "String"
														}
													}
												]
											}
										},
										"inputs": [
											{
												"referenceName": "LeapCSV_Staging",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "CCCR_table",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						},
						{
							"name": "CCCR_Could2",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "CCCR_Could1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(startswith(item().name,'CCCR_cloud02_'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "CCCR_Cloud2",
										"description": "Copy a file from the source store to the destination store.",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "Filename",
														"value": {
															"value": "@item().name",
															"type": "Expression"
														}
													},
													{
														"name": "LastModifiedDatetime",
														"value": {
															"value": "@activity('GetFileList').output.lastModified",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"wildcardFileName": "CCCR_cloud02_*",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												},
												"recursive": false
											},
											"sink": {
												"type": "AzureSqlSink",
												"disableMetricsCollection": false,
												"writeBehavior": "insert"
											},
											"enableStaging": false,
											"dataIntegrationUnits": 2,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "branch_code",
															"type": "String"
														},
														"sink": {
															"name": "branch_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "branch_location",
															"type": "String"
														},
														"sink": {
															"name": "branch_location",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dse_code",
															"type": "String"
														},
														"sink": {
															"name": "dse_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dse_name",
															"type": "String"
														},
														"sink": {
															"name": "dse_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "date",
															"type": "String"
														},
														"sink": {
															"name": "date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "route_name",
															"type": "String"
														},
														"sink": {
															"name": "route_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_code",
															"type": "String"
														},
														"sink": {
															"name": "retailer_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_name",
															"type": "String"
														},
														"sink": {
															"name": "retailer_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "contact_number_1",
															"type": "String"
														},
														"sink": {
															"name": "contact_number_1",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "contact_number_2",
															"type": "String"
														},
														"sink": {
															"name": "contact_number_2",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "channel_name",
															"type": "String"
														},
														"sink": {
															"name": "channel_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "sub_channel_name",
															"type": "String"
														},
														"sink": {
															"name": "sub_channel_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "start_time",
															"type": "String"
														},
														"sink": {
															"name": "start_time",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "end_time",
															"type": "String"
														},
														"sink": {
															"name": "end_time",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "intime",
															"type": "String"
														},
														"sink": {
															"name": "intime",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "order_value",
															"type": "String"
														},
														"sink": {
															"name": "order_value",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "productivity",
															"type": "String"
														},
														"sink": {
															"name": "productivity",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "reason",
															"type": "String"
														},
														"sink": {
															"name": "reason",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "visit_latitude",
															"type": "String"
														},
														"sink": {
															"name": "visit_latitude",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "visit_longitude",
															"type": "String"
														},
														"sink": {
															"name": "visit_longitude",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "deviation_in_meter",
															"type": "String"
														},
														"sink": {
															"name": "deviation_in_meter",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "deviation",
															"type": "String"
														},
														"sink": {
															"name": "deviation",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "reason_for_deviation",
															"type": "String"
														},
														"sink": {
															"name": "reason_for_deviation",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "on_route",
															"type": "String"
														},
														"sink": {
															"name": "on_route",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "remarks",
															"type": "String"
														},
														"sink": {
															"name": "remarks",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Filename",
															"type": "String"
														},
														"sink": {
															"name": "Filename",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "LastModifiedDatetime",
															"type": "String"
														},
														"sink": {
															"name": "LastModifiedDatetime",
															"type": "DateTime"
														}
													},
													{
														"source": {
															"name": "distance_travelled",
															"type": "String"
														},
														"sink": {
															"name": "distance_travelled",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "visit_p1m_ach",
															"type": "String"
														},
														"sink": {
															"name": "visit_p1m_ach",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "visit_p3m_ach",
															"type": "String"
														},
														"sink": {
															"name": "visit_p3m_ach",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "visit_fb_ach",
															"type": "String"
														},
														"sink": {
															"name": "visit_fb_ach",
															"type": "String"
														}
													}
												]
											}
										},
										"inputs": [
											{
												"referenceName": "LeapCSV_Staging",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "CCCR_table",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						},
						{
							"name": "CCCR_Could3",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "CCCR_Could2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(startswith(item().name,'CCCR_cloud03_'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "CCCR_Cloud3",
										"description": "Copy a file from the source store to the destination store.",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "Filename",
														"value": {
															"value": "@item().name",
															"type": "Expression"
														}
													},
													{
														"name": "LastModifiedDatetime",
														"value": {
															"value": "@activity('GetFileList').output.lastModified",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"wildcardFileName": "CCCR_cloud03_*",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												},
												"recursive": false
											},
											"sink": {
												"type": "AzureSqlSink",
												"disableMetricsCollection": false,
												"writeBehavior": "insert"
											},
											"enableStaging": false,
											"dataIntegrationUnits": 2,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "branch_code",
															"type": "String"
														},
														"sink": {
															"name": "branch_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "branch_location",
															"type": "String"
														},
														"sink": {
															"name": "branch_location",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dse_code",
															"type": "String"
														},
														"sink": {
															"name": "dse_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dse_name",
															"type": "String"
														},
														"sink": {
															"name": "dse_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "date",
															"type": "String"
														},
														"sink": {
															"name": "date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "route_name",
															"type": "String"
														},
														"sink": {
															"name": "route_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_code",
															"type": "String"
														},
														"sink": {
															"name": "retailer_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_name",
															"type": "String"
														},
														"sink": {
															"name": "retailer_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "contact_number_1",
															"type": "String"
														},
														"sink": {
															"name": "contact_number_1",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "contact_number_2",
															"type": "String"
														},
														"sink": {
															"name": "contact_number_2",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "channel_name",
															"type": "String"
														},
														"sink": {
															"name": "channel_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "sub_channel_name",
															"type": "String"
														},
														"sink": {
															"name": "sub_channel_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "start_time",
															"type": "String"
														},
														"sink": {
															"name": "start_time",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "end_time",
															"type": "String"
														},
														"sink": {
															"name": "end_time",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "intime",
															"type": "String"
														},
														"sink": {
															"name": "intime",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "order_value",
															"type": "String"
														},
														"sink": {
															"name": "order_value",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "productivity",
															"type": "String"
														},
														"sink": {
															"name": "productivity",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "reason",
															"type": "String"
														},
														"sink": {
															"name": "reason",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "visit_latitude",
															"type": "String"
														},
														"sink": {
															"name": "visit_latitude",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "visit_longitude",
															"type": "String"
														},
														"sink": {
															"name": "visit_longitude",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "deviation_in_meter",
															"type": "String"
														},
														"sink": {
															"name": "deviation_in_meter",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "deviation",
															"type": "String"
														},
														"sink": {
															"name": "deviation",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "reason_for_deviation",
															"type": "String"
														},
														"sink": {
															"name": "reason_for_deviation",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "on_route",
															"type": "String"
														},
														"sink": {
															"name": "on_route",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "remarks",
															"type": "String"
														},
														"sink": {
															"name": "remarks",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Filename",
															"type": "String"
														},
														"sink": {
															"name": "Filename",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "LastModifiedDatetime",
															"type": "String"
														},
														"sink": {
															"name": "LastModifiedDatetime",
															"type": "DateTime"
														}
													}
												]
											}
										},
										"inputs": [
											{
												"referenceName": "LeapCSV_Staging",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "CCCR_table",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "FilterFiles",
				"description": "Only files will be selected, the source-folders will not be selected.",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetFileList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileList').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type, 'File')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"SourceStore_Location": {
				"type": "String"
			},
			"SourceStore_Directory": {
				"type": "String"
			},
			"DestinationStore_Location": {
				"type": "String"
			},
			"DestinationStore_Directory": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Leap Data Pipeline"
		},
		"annotations": [],
		"lastPublishTime": "2021-08-17T07:26:11Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}