pipeline/LoadFile-ADLS-To-DB_TASK.json
{
	"name": "LoadFile-ADLS-To-DB_TASK",
	"properties": {
		"description": "LoadFile-ADLS-To-DB",
		"activities": [
			{
				"name": "GetFileList",
				"description": "Get the list of file",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ADLSDataset",
						"type": "DatasetReference",
						"parameters": {
							"folder": {
								"value": "/2022/04/29/",
								"type": "Expression"
							},
							"directory": "leap"
						}
					},
					"fieldList": [
						"childItems",
						"lastModified",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "FilterFiles",
				"description": "Only files will be selected, the source-folders will not be selected.",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetFileList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileList').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type, 'File')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEachFile",
				"description": "Iterate each file, and move them one by one.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FilterFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterFiles').output.value",
						"type": "Expression"
					},
					"batchCount": 20,
					"activities": [
						{
							"name": "TASK_Cloud1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(startswith(item().name,'TASK_cloud01_'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "TASK_Cloud01",
										"description": "Copy a file from the source store to the destination store.",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "Filename",
														"value": {
															"value": "@item().name",
															"type": "Expression"
														}
													},
													{
														"name": "Lastmodifieddatetime",
														"value": {
															"value": "@activity('GetFileList').output.lastModified",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"wildcardFolderPath": {
														"value": "/2022/04/29/",
														"type": "Expression"
													},
													"wildcardFileName": {
														"value": "@item().name",
														"type": "Expression"
													},
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												},
												"recursive": false
											},
											"sink": {
												"type": "AzureSqlSink"
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "distributor_code",
															"type": "String"
														},
														"sink": {
															"name": "distributor_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "distributor_name",
															"type": "String"
														},
														"sink": {
															"name": "distributor_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "branch_code",
															"type": "String"
														},
														"sink": {
															"name": "branch_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "branch_name",
															"type": "String"
														},
														"sink": {
															"name": "branch_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "task_code",
															"type": "String"
														},
														"sink": {
															"name": "task_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "task_created_date",
															"type": "String"
														},
														"sink": {
															"name": "task_created_date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "created_user_code",
															"type": "String"
														},
														"sink": {
															"name": "created_user_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "created_user_name",
															"type": "String"
														},
														"sink": {
															"name": "created_user_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "assigned_to",
															"type": "String"
														},
														"sink": {
															"name": "assigned_to",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_code",
															"type": "String"
														},
														"sink": {
															"name": "retailer_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_name",
															"type": "String"
														},
														"sink": {
															"name": "retailer_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "task_title",
															"type": "String"
														},
														"sink": {
															"name": "task_title",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "task_description",
															"type": "String"
														},
														"sink": {
															"name": "task_description",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "due_date",
															"type": "String"
														},
														"sink": {
															"name": "due_date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "over_due",
															"type": "String"
														},
														"sink": {
															"name": "over_due",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "task_remark",
															"type": "String"
														},
														"sink": {
															"name": "task_remark",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "task_status",
															"type": "String"
														},
														"sink": {
															"name": "task_status",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tas_task_date",
															"type": "String"
														},
														"sink": {
															"name": "tas_task_date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tas_task_id",
															"type": "String"
														},
														"sink": {
															"name": "tas_task_id",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tas_seller_code",
															"type": "String"
														},
														"sink": {
															"name": "tas_seller_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tas_seller_name",
															"type": "String"
														},
														"sink": {
															"name": "tas_seller_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Filename",
															"type": "String"
														},
														"sink": {
															"name": "Filename",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Lastmodifieddatetime",
															"type": "String"
														},
														"sink": {
															"name": "LastModifiedDatetime",
															"type": "DateTime"
														}
													}
												]
											}
										},
										"inputs": [
											{
												"referenceName": "ADLSCSVDataSource_Folder",
												"type": "DatasetReference",
												"parameters": {
													"Container": "leap",
													"Directory": {
														"value": "/2022/04/29/",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "TASK_table",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						},
						{
							"name": "TASK_Cloud2",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "TASK_Cloud1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(startswith(item().name,'TASK_cloud02_'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "TASK_Cloud02",
										"description": "Copy a file from the source store to the destination store.",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "Filename",
														"value": {
															"value": "@item().name",
															"type": "Expression"
														}
													},
													{
														"name": "Lastmodifieddatetime",
														"value": {
															"value": "@activity('GetFileList').output.lastModified",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"wildcardFolderPath": {
														"value": "/2022/04/29/",
														"type": "Expression"
													},
													"wildcardFileName": {
														"value": "@item().name",
														"type": "Expression"
													},
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												},
												"recursive": false
											},
											"sink": {
												"type": "AzureSqlSink"
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "distributor_code",
															"type": "String"
														},
														"sink": {
															"name": "distributor_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "distributor_name",
															"type": "String"
														},
														"sink": {
															"name": "distributor_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "branch_code",
															"type": "String"
														},
														"sink": {
															"name": "branch_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "branch_name",
															"type": "String"
														},
														"sink": {
															"name": "branch_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "task_code",
															"type": "String"
														},
														"sink": {
															"name": "task_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "task_created_date",
															"type": "String"
														},
														"sink": {
															"name": "task_created_date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "created_user_code",
															"type": "String"
														},
														"sink": {
															"name": "created_user_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "created_user_name",
															"type": "String"
														},
														"sink": {
															"name": "created_user_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "assigned_to",
															"type": "String"
														},
														"sink": {
															"name": "assigned_to",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_code",
															"type": "String"
														},
														"sink": {
															"name": "retailer_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_name",
															"type": "String"
														},
														"sink": {
															"name": "retailer_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "task_title",
															"type": "String"
														},
														"sink": {
															"name": "task_title",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "task_description",
															"type": "String"
														},
														"sink": {
															"name": "task_description",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "due_date",
															"type": "String"
														},
														"sink": {
															"name": "due_date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "over_due",
															"type": "String"
														},
														"sink": {
															"name": "over_due",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "task_remark",
															"type": "String"
														},
														"sink": {
															"name": "task_remark",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "task_status",
															"type": "String"
														},
														"sink": {
															"name": "task_status",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tas_task_date",
															"type": "String"
														},
														"sink": {
															"name": "tas_task_date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tas_task_id",
															"type": "String"
														},
														"sink": {
															"name": "tas_task_id",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tas_seller_code",
															"type": "String"
														},
														"sink": {
															"name": "tas_seller_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tas_seller_name",
															"type": "String"
														},
														"sink": {
															"name": "tas_seller_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Filename",
															"type": "String"
														},
														"sink": {
															"name": "Filename",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Lastmodifieddatetime",
															"type": "String"
														},
														"sink": {
															"name": "LastModifiedDatetime",
															"type": "DateTime"
														}
													}
												]
											}
										},
										"inputs": [
											{
												"referenceName": "ADLSCSVDataSource_Folder",
												"type": "DatasetReference",
												"parameters": {
													"Container": "leap",
													"Directory": {
														"value": "/2022/04/29/",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "TASK_table",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						},
						{
							"name": "TASK_Cloud3",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "TASK_Cloud2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(startswith(item().name,'TASK_cloud03_'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "TASK_Cloud03",
										"description": "Copy a file from the source store to the destination store.",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "Filename",
														"value": {
															"value": "@item().name",
															"type": "Expression"
														}
													},
													{
														"name": "Lastmodifieddatetime",
														"value": {
															"value": "@activity('GetFileList').output.lastModified",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"wildcardFolderPath": {
														"value": "/2022/04/29/",
														"type": "Expression"
													},
													"wildcardFileName": {
														"value": "@item().name",
														"type": "Expression"
													},
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												},
												"recursive": false
											},
											"sink": {
												"type": "AzureSqlSink"
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "distributor_code",
															"type": "String"
														},
														"sink": {
															"name": "distributor_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "distributor_name",
															"type": "String"
														},
														"sink": {
															"name": "distributor_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "branch_code",
															"type": "String"
														},
														"sink": {
															"name": "branch_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "branch_name",
															"type": "String"
														},
														"sink": {
															"name": "branch_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "task_code",
															"type": "String"
														},
														"sink": {
															"name": "task_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "task_created_date",
															"type": "String"
														},
														"sink": {
															"name": "task_created_date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "created_user_code",
															"type": "String"
														},
														"sink": {
															"name": "created_user_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "created_user_name",
															"type": "String"
														},
														"sink": {
															"name": "created_user_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "assigned_to",
															"type": "String"
														},
														"sink": {
															"name": "assigned_to",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_code",
															"type": "String"
														},
														"sink": {
															"name": "retailer_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailer_name",
															"type": "String"
														},
														"sink": {
															"name": "retailer_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "task_title",
															"type": "String"
														},
														"sink": {
															"name": "task_title",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "task_description",
															"type": "String"
														},
														"sink": {
															"name": "task_description",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "due_date",
															"type": "String"
														},
														"sink": {
															"name": "due_date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "over_due",
															"type": "String"
														},
														"sink": {
															"name": "over_due",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "task_remark",
															"type": "String"
														},
														"sink": {
															"name": "task_remark",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "task_status",
															"type": "String"
														},
														"sink": {
															"name": "task_status",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tas_task_date",
															"type": "String"
														},
														"sink": {
															"name": "tas_task_date",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tas_task_id",
															"type": "String"
														},
														"sink": {
															"name": "tas_task_id",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tas_seller_code",
															"type": "String"
														},
														"sink": {
															"name": "tas_seller_code",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tas_seller_name",
															"type": "String"
														},
														"sink": {
															"name": "tas_seller_name",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Filename",
															"type": "String"
														},
														"sink": {
															"name": "Filename",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "Lastmodifieddatetime",
															"type": "String"
														},
														"sink": {
															"name": "LastModifiedDatetime",
															"type": "DateTime"
														}
													}
												]
											}
										},
										"inputs": [
											{
												"referenceName": "ADLSCSVDataSource_Folder",
												"type": "DatasetReference",
												"parameters": {
													"Container": "leap",
													"Directory": {
														"value": "/2022/04/29/",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "TASK_table",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Other Pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2021-02-17T07:39:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}